doctype html
html
  head
    title Login
  body
    h1 Iniciar sesión

    form(action="/login" method="POST")
      div
        label Email
        input(type="email" name="email")

      div
        label Password
        input(type="password" name="password")

      button(type="submit") Ingresar